<% if user_signed_in? %>
 <h2>Welcome! <%=  %></h2>
<% else %>
<h3>New user?</h3>
<%= link_to "Sign up", new_user_registration_path %>

<h3>Already registered?</h3>
<%= link_to "Sign in", new_user_session_path %>
<% end %>
