<h1>Editing trip join request</h1>

<%= render "form", trip_join_request: @trip_join_request %>

<br>

<div>
  <%= link_to "Show this trip join request", trip_trip_join_request_path(@trip_join_request) %> |
  <%= link_to "Back to trip join requests", trip_trip_join_requests_path(@trip_join_request) %>
</div>
