<div class="container">
  <h1>New trip join request</h1>

  <%= render "form", trip_join_request: @trip_join_request %>
<div>

<br>

<div>
  <%= link_to "Back to trip join requests", trip_trip_join_requests_path, class: "btn btn-secondary btn-back" %>
  <%= link_to "Back to trip", trip_path(id: params[:trip_id]), class: "btn btn-secondary btn-back" %>
</div>
