<div id="<%= dom_id driver_request %>">
  <p>
    <strong>User:</strong>
    <%= driver_request.user_id %>
  </p>

  <p>
    <strong>Driver licence front:</strong>
    <%= driver_request.driver_licence_front %>
  </p>

  <p>
    <strong>Driver licence back:</strong>
    <%= driver_request.driver_licence_back %>
  </p>

</div>
