<h1>Editing driver request</h1>

<%= render "form", driver_request: @driver_request %>

<br>

<div>
  <%= link_to "Show this driver request", @driver_request %> |
  <%= link_to "Back to driver requests", driver_requests_path %>
</div>
