<%= form_with(model: companion) do |form| %>
  <% if companion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(companion.errors.count, "error") %> prohibited this companion from being saved:</h2>

      <ul>
        <% companion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
