<h1>Choose a checkout method</h1>

<a class="chk-bank" href=<%= new_trip_trip_join_request_checkout_path %>>Bank transfer / Bizum</a>

<a class="chk-card" href="#">Pay with card</a>

<a class="chk-paypal" href="#">Pay with Paypal</a>