<h1>Payment receipt</h1>

<img src=<%= @trip_join_request.transfer_receipt.url %> alt="Payment receipt" />

<h4>Accept payment?</h4>

<div class="btn-group-inline">
  <%= button_to "Accept", trip_paid_path(trip_id: params[:trip_id], id: params[:trip_join_request_id]), class: "btn btn-success" %>
  <%= button_to "Reject", trip_payment_failed_path(trip_id: params[:trip_id], id: params[:trip_join_request_id]), method: :put, class: "btn btn-danger" %>
</div>