<p style="color: green"><%= notice %></p>
<div class="container">

  <h1>Vehicles</h1>

  <%= link_to "Add new vehicle", new_user_vehicle_path, class: "btn btn-outline-primary" %>
  <br>
  <br>
  <div id="vehicles">
    <% @vehicles.each do |vehicle| %>
      <div class="row container">
        <%= render vehicle %>
      </div>
    <% end %>
  </div>
<div>
