<div class="container">
  <h1>Add new vehicle</h1>

  <%= render "form", vehicle: @vehicle %>
</div>

<br>

<div>
  <%= link_to "Back to vehicles", user_vehicles_path, class: "btn btn-secondary btn-back" %>
</div>
